
/*variables for text color and font

$main-txt-color: #1111;

$highlight-txt-color: #4A4FF2;

$main-font: 'Mulish', sans-serif;

/*

.header__item--styles {
            
    font-family: 'Mulish', sans-serif;
    color: #111111;
    padding-left: 20px;
    list-style: none;
    list-style-type: none;
}
.headerfooter--link {
    font-family: 'Mulish', sans-serif;
    color: rgb(17, 17, 17);


    .intro__item--styles1 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #4A4FF2;
        }
    
        .intro__item--styles2 {
            font-family: 'Mulish';
            text-align: left;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
        
            color: #111111;
            }



    .intro__item--styles3 {       
                font-family: 'Mulish';
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #111111;
                mix-blend-mode: normal;
                opacity: 0.6;
            }


.mid__text--h5 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
            }
    
.mid__text--li {
                list-style: none;
                list-style-type: none;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }

*/
