@use "font";

/*>>>>>>>>>>>>styling for PRODUCT DETAILS>>>>>>>>>>>*/

.intro2 {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1109px;
    width: 100%;
    min-height: 345px;
    margin:20px;

}

/*stop*/
.intro2__item1 {
    display:flex;
    /*order reversed*/
    align-items: flex-start;
    justify-content: center;

    flex-wrap: wrap;
    text-align: left;

    width: 635px;
    margin: 20px

}

.intro2__item2 {
    display:flex;
    flex-direction: row;
    /*order reversed*/
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    width: 335px;

}